body {
    font-family: sans-serif;
}
img {
    height: 300px;
    width: 500px;
}
.first {
    height:80px;
    width: 150px;
}
h1 {
    text-align: center;
}
header {
    background-color: #3F92D2;
    padding: 10px;
    margin: 0px 0px 20px 0px;
}
a {
    border: 1px solid #3F92D2;
    text-decoration: none;
    background-color: #3F92D2;
    margin: 100px;
    border-radius: 20px;
    padding: 10px;
    color: #043E6B;
    font-size: 20px;
}
.game {
    color:#3F92D2;
    background-color: #043E6B;
    border: 1px solid #043E6B;
}
